@charset "UTF-8";

/*  <!-- RESPONSIVE
============================================ --> */
/* здесь мы пишем медиа запросы */
/* width start */
/* width end */
/* =============================================================================*/
/* <!-- minw start
  ============================================ --> */
@media only screen and (min-width: 480px) {
  .hide_480 {
    display: none;
  }
}

/* <!-- min-width: 480px --> */
@media only screen and (min-width: 576px) {
  .hide_576 {
    display: none;
  }
  .d-sm-none {
    display: none !important;
  }
    .cart-item-quantity-row {
    -ms-flex-align: normal;
    align-items: normal;
    margin-bottom: 0;
}
.cart-item-quantity-container {
    width: 70px;
    margin-left: auto;
}
.cart-item-quantity {
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


}

/* <!-- min-width: 576px --> */
@media only screen and (min-width: 768px) {
  
  .hide_768 {
    display: none;
  }
  .checkout-aside {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    margin-left: 58.3333333333%;
}
 .cart-item-quantity-label, .cart-item-unit-price-label, .cart-item-total-price-label, .cart-item-tax-price-label {
    display: none;
} 
  .cart-item {
    padding: 10px 0;
}
	.cart-item-details-container {
    padding-left: 1rem;
}
	
	
  .header_resp_nav {
    display: block !important;
  }
  .search-suggest-container {
    width: 500px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .header-cart-badge {
    display: none;
  }
  .navigation-flyout.is-open {
    -webkit-animation: navFyloutFadeIn .3s ease-in-out;
    animation: navFyloutFadeIn .3s ease-in-out;
  }
  .navigation-flyout .navigation-flyout-bar {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    padding: 0px 0;
    background: #eee;
    margin-bottom: 20px;
    display: none;
  }
  .navigation-flyout .navigation-flyout-content {
    padding-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .navigation-flyout .navigation-flyout-content .navigation-flyout-categories.is-level-0 > .navigation-flyout-col {
    margin-bottom: 10px;
    padding-left: 5px;
  }
  .navigation-flyout .navigation-flyout-content .navigation-flyout-categories.is-level-0 > .navigation-flyout-col::before {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 30px;
    left: 0px;
    content: "›";
    margin-top: -3px;
    color: #e8490f;
    border-left: none;
  }
  .navigation-flyout .navigation-flyout-content .navigation-flyout-categories .navigation-flyout-link.is-level-0 {
    font-weight: normal;
  }
  .navigation-flyout .navigation-flyout-content .navigation-flyout-categories .navigation-flyout-link {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 10px;
    color: #333;
  }
  .navigation-flyout .navigation-flyout-content .navigation-flyout-categories.is-level-0 > .navigation-flyout-col {
    margin-bottom: 10px;
    padding-left: 5px;
  }
}

/* <!-- min-width: 768px --> */
@media only screen and (min-width: 992px) {
  .hide_992 {
    display: none;
  }
  .top-bar-nav, .d-lg-block, .is-act-checkoutregisterpage .checkout .checkout-aside {
    display: block !important;
  }
  .top-bar-nav-item {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
  .checkout-container .checkout-main{
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}
.checkout-aside{
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

}

/* <!-- min-width: 992px --> */
@media only screen and (min-width: 1200px) {
  .hide_1200 {
    display: none;
  }
  ::-webkit-scrollbar{
    background: #cdcdcd;  
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: #333131;
  }
  .twt-usp-bar.position-header {
    display: block !important;
  }
  .checkout-aside {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}
.checkout-container .checkout-aside {
    margin-left: 0;
}

}

/* <!-- min-width: 1200px --> */
@media only screen and (min-width: 1300px) {
  .hide_1300 {
    display: none;
  }
}

/* <!-- min-width: 1300px --> */
@media only screen and (min-width: 1400px) {
  .hide_1400 {
    display: none;
  }
}

/* <!-- min-width: 1400px --> */
@media only screen and (min-width: 1500px) {
  .hide_1500 {
    display: none;
  }
}

/* <!-- min-width: 1500px --> */
@media only screen and (min-width: 1600px) {
  .hide_1600 {
    display: none;
  }
}

/* <!-- min-width: 1600px --> */
@media only screen and (min-width: 1700px) {
  .hide_1700 {
    display: none;
  }
}

/* <!-- min-width: 1700px --> */
@media only screen and (min-width: 1800px) {
  .hide_1800 {
    display: none;
  }
}

/* <!-- min-width: 1800px --> */
/* <!-- minw end 
  ============================================ --> */
/* <!-- maxw start
  ============================================ --> */
@media only screen and (max-width: 1899px) {
  .hide_1899 {
    display: none;
  }
}

/* <!-- max-width: 1899px --> */
@media only screen and (max-width: 1799px) {
  .hide_1799 {
    display: none;
  }
}

/* <!-- max-width: 1799px --> */
@media only screen and (max-width: 1699px) {
  .hide_1699 {
    display: none;
  }
}

/* <!-- max-width: 1699px --> */
@media only screen and (max-width: 1599px) {
  .hide_1599 {
    display: none;
  }  
}

/* <!-- max-width: 1599px --> */
@media only screen and (max-width: 1499px) {
  .hide_1499 {
    display: none;
  }
}

/* <!-- max-width: 1499px --> */
@media only screen and (max-width: 1399px) {
  .hide_1399 {
    display: none;
  }
}

/* <!-- max-width: 1399px --> */
@media only screen and (max-width: 1299px) {
  .hide_1299 {
    display: none;
  }
}

/* <!-- max-width: 1299px --> */
@media only screen and (max-width: 1199px) {
  html {
    font-size: 90%;
  }
  .hide_1199 {
    display: none;
  }
  html {
    font-size: 90%;
  }
  div.no_wrap {
    margin-right: 40px;
  }
}

/* <!-- max-width: 1199px --> */
@media only screen and (max-width: 991px) {
  .hide_991 {
    display: none;
  }
  .middle-bar-in {
    padding-top: 80px;
  }
  .logo {
    position: absolute;
    top: 20px;
    padding-right: 0;
    text-align: center;
    left: 0;
    right: 0;
  }
  .nav-main-toggle {
    margin-left: -20px;
    margin-right: 20px;
  }
  .header-cart-total {
    display: none;
  }
  .nav-main-toggle-btn .icon-stack {
    margin-right: 5px;
  }
  .main-navigation {
    left: 0;
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #fff;
    height: 100%;
    width: 400px;
    max-width: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: all .45s cubic-bezier(.3, 0, .15, 1);
    transition: all .45s cubic-bezier(.3, 0, .15, 1);
    z-index: 1050;
  }

  .main-navigation.is-open {
    -ms-transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  .main-navigation.open-lv-2 {
    overflow: inherit;
  }
  .main-navigation-menu {
    display: block;
    background: #fff;
  }
  .nav-item.nav-link,
  .nav-main .main-navigation-link {
    -webkit-transition: color .45s cubic-bezier(.3, 0, .15, 1);
    transition: color .45s cubic-bezier(.3, 0, .15, 1);
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 1rem;
    color: #333 ;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid #bcc1c7;
    font-family: "Roboto", sans-serif;
    height: 46px;
  }
  .nav-link-arrow {
    background: #fff url(../images/icons/arrow-right.svg) calc(100% - 20px) center no-repeat;
  }
  .nav-main .container {
    padding-left: 0;
    padding-right: 0;
  }
  .home-link {
    display: none !important;
  }
  .top-bar-nav-item {
    margin: 0 1rem;
  }
  .dropdown-menu-right {
    right: -54px;
  }

  .navigation-flyout {
    left: 0;
    -ms-transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    background: #fff;
    height: calc(100% - 95px);
    width: 400px;
    max-width: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 95px;
    -webkit-transition: all .45s cubic-bezier(.3, 0, .15, 1);
    transition: all .45s cubic-bezier(.3, 0, .15, 1);
    z-index: 1050;
  }

  .navigation-flyout.is-open {
    -ms-transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  .navigation-flyout-categories {
    display: block;
  }
  .navigation-flyout-categories .col-3 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0 !important;
  }
  .navigation-flyout .navigation-flyout-content .navigation-flyout-categories.is-level-0 > .navigation-flyout-col::before {
    display: none;
  }
  .navigation-flyout-categories:not(.is-level-0) {
    margin-left: 0;
  }
  .navigation-flyout .navigation-flyout-content {
    padding-top: 0;
  }
  .nav-item.nav-link.navigation-offcanvas-headline span {
    font-weight: bold;
  }
  .navigation-offcanvas-link.is-current-category {
    color: #e8490f;
    font-weight: 600;
  }

  .nav-main .main-navigation > .container {
    display: block;
  }

  .cms-md-reset-block {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  .cms-md-block {
    border: 1px solid #eee;
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
  }

  .category-nav {
    margin-top: 0;
  }

  .filter-panel-contenet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 90vh;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 0.3s;
  }

  .filter-panel-wrapper.is-open:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: #000;
    opacity: 0.5;
  }
  
  .filter-panel-wrapper.is-open .filter-panel-contenet {
    transform: translateY(0);
  }

  .filter-panel-contenet-header,
  .filter-panel-btn {
    display: flex;
  }

  .accordion_title {
    border-bottom-width: 1px !important;
  }

  .accordion_title.active {
    border-bottom-width: 0 !important;
    border-color: #e8490f !important;
  }

  .accordion_title:not(:first-child) {
    margin-top: 12px;
  }

  .accordion_title.active + .accordion_content {
    border-color: #e8490f;
    border-top-width: 0;
  }

  .product_slider_main_wrap {
    margin-bottom: 20px;
  }

  .product_slider_thumbs {
    display: none;
  }
}

/* <!-- max-width: 991px --> */
@media only screen and (max-width: 767px) {
  .hide_767 {
    display: none;
  }
  .header-account-name,
  .header-nav-main-toggle-label {
    display: none;
  }
  .nav-main-toggle .btn {
    height: 40px;
  }
  .account-menu-btn span {
    margin-right: 0;
  }
  div.no_wrap {
    margin-right: 0px;
  }

  .footer-column {
    border-bottom: 1px solid #eaeaf0;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}	

/* <!-- max-width: 767px --> */
@media only screen and (max-width: 575px) {
  html {
    font-size: 80%;
  }
	.hide_575 {
    display: none;
  }
  .header-search:not(.show) {
    display: none;
  }
  .header-nav-main-toggle-label {
    display: block;
  }
  div.no_wrap {
    padding-left: 0;
    width: 100%;
  }
  .header-search-toggle-name {
    display: none;
  }
  .js-search-toggle-btn.collapsed .icon-search {
    display: none !important;
  }
  .js-search-toggle-btn.collapsed .icon-x {
    display: block !important;

  }
  .js-search-toggle-btn .icon-x {
    display: none !important;
  }
  .js-search-toggle-btn {
    margin-right: 10px;
    height: 40px;
  }
  .header-search {
    top: 120px;
    margin-left: -20px;
    margin-right: -20px;
    max-width: none;
    padding: 15px;
    position: absolute;
    display: block !important;
    background-color: #21262c;
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition: all .45s cubic-bezier(.3, 0, .15, 1);
    transition: all .45s cubic-bezier(.3, 0, .15, 1);
    visibility: hidden;
    opacity: 0;
    z-index: -5;
  }
  .header-search.collapsed {
    visibility: visible;
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: 2;
  }
  .header-logo-picture {
    max-width: 160px;
  }
  .middle-bar-in {
    padding-top: 50px;
  }

  .tab_item {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: auto;
    background-color: #fff;
    transition: transform 0.3s;
    transform: translateX(100%);
  }

  .tab_item.active {
    transform: translateX(0);
  }

  .tab_item_header {
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  }

  .tab_item_header .btn {
    text-align: left;
  }

  .tabs_nav {
    display: block;
  }

  .tabs_nav .tabs_nav_item {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tabs_nav .tabs_nav_item_icon {
    display: block;
    height: 16px;
  }

  .mini_cart_wrap .mini_cart_content {
    width: 90vw;
  }

  .cart_item .cart-item-quantity-container {
    width: auto;
  }
}

/* <!-- max-width: 575px --> */
@media only screen and (max-width: 479px) {
  .hide_479 {
    display: none;
  }
  .header-nav-main-toggle-label {
    display: none;
  }
  .menu-button .btn {
    height: 40px;
  }
  .subscribe_form_row {
    display: flex;
  }
  .subscribe_form_row input {
    width: 100%;
    /* flex: 1 0 100%; */
  }
}

/* <!-- max-width: 479px --> */
@media only screen and (max-width: 359px) {
  .hide_359 {
    display: none;
  }
}

/* <!-- max-width: 359px --> */
/* <!-- maxw end 
  ============================================ --> */