/* 
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------
  
  1. Default stylesheets

  2. Basic Elements
    2.1. Typography
    2.2. Lists
    2.3. Buttons
    2.4. Forms

  3. General classes
    3.1. Flex

  4. Main options
    4.1 Breadcrumps
    4.2 Offsets

  5. Header
    5.1. Main navigation
    5.2. Search

  6. Plugins
    6.1. Preloader
    6.2. Back to top
    6.3. Carousels
    
  7. Footer
    7.1. Footer Bottom
    7.2. Copyright

  8. Main Sections

  


*/

@import 'variables';

@import url("https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap");

/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

html {
  font-size: 100%;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #fafafa;
  -webkit-text-size-adjust: none;
  min-width: 320px;

  &.no-scroll {
    overflow: hidden;
  }
}

.blackout {
  color: #fff;
}

.blackout {
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: $white;
  background: $primary;
}

::-moz-selection {
  color: #fff;
  background: $primary;
}

/* ------------------------------------------------

    2. Basic Elements

------------------------------------------------ */
/* --------------------------------------------
      2.1. Typography
-------------------------------------------- */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #e8490f;
  margin-bottom: 10px;
}

.blackout {

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

h1,
.h1 {
  font-size: 2.25rem;
}

@media (max-width: 1200px) {

  h1,
  .h1 {
    font-size: calc(1.35rem + 1.2vw);
  }
}

h2,
.h2 {
  font-size: 1.75rem;
}

@media (max-width: 1200px) {

  h2,
  .h2 {
    font-size: calc(1.3rem + .6vw);
  }
}

h3,
.h3 {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {

  h3,
  .h3 {
    font-size: calc(1.275rem + .3vw);
  }
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: .875rem;
}


hr {
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #e9edf0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

mark {
  background-color: #20cfef;
  padding: 0 2px;
  color: #fff;
}

mark.red {
  background-color: #ee352f;
}

sup {
  display: inline-block;
  -moz-transform: scale(0.6) translate(-10%, -30%);
  -o-transform: scale(0.6) translate(-10%, -30%);
  -webkit-transform: scale(0.6) translate(-10%, -30%);
  transform: scale(0.6) translate(-10%, -30%);
}

a {
  color: #e8490f;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: #a0320a;
  text-decoration: underline;
}

a:focus,
a:visited {
  text-decoration: none;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.fz20 {
  font-size: 20px;
}

.fz18 {
  font-size: 18px;
}

.fz16 {
  font-size: 16px;
}

.fz12 {
  font-size: 12px;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw_bold {
  font-weight: bold;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.book {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.divider {
  max-width: initial;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* --------------------------------------------
      2.2. Lists
-------------------------------------------- */

ul:not([class]) {
  padding-left: 15px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 3px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: currentColor;
    }
  }
}

// ol:not([class]){
//   counter-reset: myCounter;
// }

// ol:not([class]) li{
//   list-style: none;
// }

// ol:not([class]) li:before {
//   counter-increment: myCounter;
//   content:counter(myCounter) ".";
//   color: white;
//   background: #2980B9;
//   display: inline-block;
//   text-align: center;
//   margin: 5px 10px;
//   line-height: 40px;
//   width: 40px;
//   height: 40px;
// }
// ol:not([class])>li:nth-child(9) ~ li:before  {
//   content: "" counter(myCounter) ".";
// }

.list1 {
  li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 4px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 12px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3e%3cpath fill=\'%232ecc71\' d=\'M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z\'/%3e%3c/svg%3e");
    }
  }
}

.list-striped {
  li {
    padding: 10px;

    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, .05);
    }
  }
}

/* --------------------------------------------
      2.3. Buttons
-------------------------------------------- */
.btn_box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.btn_box>*:not(:last-child) {
  margin-right: 30px;
}

.btn_box>* {
  margin-bottom: 10px;
}

.btn {
  outline: none;
  font-weight: 600;
  color: #333;
  text-align: center;
  vertical-align: middle;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 2px 12px;
  font-size: 1rem;
  line-height: 34px;
  border-radius: 2px;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  display: inline-block;

  &:hover {
    color: #333;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    opacity: .65;
  }

}

.btn-light {
  color: #212529;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn-light:hover {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}

.btn-light:focus,
.btn-light.focus {
  box-shadow: 0 0 0 .2rem rgba(217, 217, 218, .5);
}

.btn-light.disabled,
.btn-light:disabled {
  color: #212529;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #e0e0e0;
  border-color: #d9d9d9;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(217, 217, 218, .5);
}

.btn-outline-danger {
  color: #e74c3c;
  border-color: #e74c3c;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: 0 0 0 .2rem rgba(231, 76, 60, .5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #e74c3c;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(231, 76, 60, .5);
}

.btn-link {
  color: #e8490f;
  text-decoration: none;
}

.btn-link:hover {
  color: #a0320a;
  text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
  color: #798490;
  pointer-events: none;
}

.btn-lg,
.btn-group-lg>.btn,
.btn-buy,
.product-action .btn-light {
  padding: 2px 12px;
  font-size: 1rem;
  line-height: 38px;
  border-radius: 2px;
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 2px 12px;
  font-size: .875rem;
  line-height: 30px;
  border-radius: 2px;
}

.btn-block {
  display: block;
  width: 100%;

  &+.btn-block {
    margin-top: 0.5rem;
  }
}

.btn.disabled,
.btn-buy.disabled,
.btn:disabled,
.btn-buy:disabled {
  opacity: 1;
  background: #eee;
  border-color: #eee;
  color: #bcc1c7;
}


button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.icon {
  width: 22px;
  height: 22px;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: inherit;
  overflow: visible;
  color: #878787;
}

.btn_nav {
  border: none;
  outline: none;
  width: 25px;
  height: 26px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  display: none;
  z-index: 15;
  float: right;
}

.btn_nav:before,
.btn_nav:after,
.btn_nav span {
  content: '';
  display: block;
  width: 25px;
  height: 4px;
  background-color: #0199ed;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn_nav span {
  top: 11px;
}

.btn_nav:after {
  top: auto;
  bottom: 0px;
}

.btn_nav.active span {
  display: none;
}

.btn_nav.active:before {
  top: 9px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.btn_nav.active:after {
  bottom: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.btn-primary,
.address-editor-select:not(.collapsed),
.address-editor-edit:not(.collapsed),
.address-editor-create:not(.collapsed) {
  color: #fff;
  background-color: #e8490f;
  border-color: #e8490f;
}

.btn-primary:hover,
.address-editor-select:not(.collapsed):hover,
.address-editor-edit:not(.collapsed):hover,
.address-editor-create:not(.collapsed):hover {
  color: #fff;
  background-color: #c43e0d;
  border-color: #b83a0c;
}

.btn-primary:focus,
.address-editor-select:not(.collapsed):focus,
.address-editor-edit:not(.collapsed):focus,
.address-editor-create:not(.collapsed):focus,
.btn-primary.focus,
.focus.address-editor-select:not(.collapsed),
.focus.address-editor-edit:not(.collapsed),
.focus.address-editor-create:not(.collapsed) {
  box-shadow: 0 0 0 .2rem rgba(235, 100, 51, .5);
}

.btn-primary.disabled,
.disabled.address-editor-select:not(.collapsed),
.disabled.address-editor-edit:not(.collapsed),
.disabled.address-editor-create:not(.collapsed),
.btn-primary:disabled,
.address-editor-select:not(.collapsed):disabled,
.address-editor-edit:not(.collapsed):disabled,
.address-editor-create:not(.collapsed):disabled {
  color: #fff;
  background-color: #e8490f;
  border-color: #e8490f;
}

.btn-primary:not(:disabled):not(.disabled):active,
.address-editor-select:not(.collapsed):not(:disabled):not(.disabled):active,
.address-editor-edit:not(.collapsed):not(:disabled):not(.disabled):active,
.address-editor-create:not(.collapsed):not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.active.address-editor-select:not(.collapsed):not(.disabled):not(:disabled),
.active.address-editor-edit:not(.collapsed):not(.disabled):not(:disabled),
.active.address-editor-create:not(.collapsed):not(.disabled):not(:disabled),
.show>.btn-primary.dropdown-toggle,
.show>.dropdown-toggle.address-editor-select:not(.collapsed),
.show>.dropdown-toggle.address-editor-edit:not(.collapsed),
.show>.dropdown-toggle.address-editor-create:not(.collapsed) {
  color: #fff;
  background-color: #b83a0c;
  border-color: #ac360b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.address-editor-select:not(.collapsed):not(:disabled):not(.disabled):active:focus,
.address-editor-edit:not(.collapsed):not(:disabled):not(.disabled):active:focus,
.address-editor-create:not(.collapsed):not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.active.address-editor-select:not(.collapsed):not(.disabled):not(:disabled):focus,
.active.address-editor-edit:not(.collapsed):not(.disabled):not(:disabled):focus,
.active.address-editor-create:not(.collapsed):not(.disabled):not(:disabled):focus,
.show>.btn-primary.dropdown-toggle:focus,
.show>.dropdown-toggle.address-editor-select:not(.collapsed):focus,
.show>.dropdown-toggle.address-editor-edit:not(.collapsed):focus,
.show>.dropdown-toggle.address-editor-create:not(.collapsed):focus {
  box-shadow: 0 0 0 .2rem rgba(235, 100, 51, .5);
}

.btn-secondary {
  color: #fff;
  background-color: #566573;
  border-color: #566573;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #46525d;
  border-color: #404b56;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 .2rem rgba(111, 124, 136, .5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #566573;
  border-color: #566573;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #404b56;
  border-color: #3b454f;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(111, 124, 136, .5);
}

.btn-buy {
  color: #fff;
  background-color: #489c62;
  border-color: #489c62;
}

.btn-buy:hover {
  color: #fff;
  background-color: #3c8252;
  border-color: #38794c;
}

.btn-buy:focus,
.btn-buy.focus {
  box-shadow: 0 0 0 .2rem rgba(99, 171, 122, .5);
}

.btn-buy.disabled,
.btn-buy:disabled {
  color: #fff;
  background-color: #489c62;
  border-color: #489c62;
}

.btn-buy:not(:disabled):not(.disabled):active,
.btn-buy:not(:disabled):not(.disabled).active,
.show>.btn-buy.dropdown-toggle {
  color: #fff;
  background-color: #38794c;
  border-color: #347047;
}

.btn-buy:not(:disabled):not(.disabled):active:focus,
.btn-buy:not(:disabled):not(.disabled).active:focus,
.show>.btn-buy.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(99, 171, 122, .5);
}


/* --------------------------------------------
        2.4. Forms
-------------------------------------------- */
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;

  &>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 1px;
  color: #666;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  color: #505050;
  -webkit-transition: text-indent .5s ease, color .5s ease;
  transition: text-indent .5s ease, color .5s ease;
}

input::-moz-placeholder {
  color: #505050;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: #505050;
  opacity: 1;
}

::ms-input-placeholder {
  color: #505050;
}

[placeholder]:focus::-webkit-input-placeholder {
  text-indent: 10em;
  color: transparent;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 1.125rem + 2px);
  padding: .5625rem 1.5625rem .5625rem .5625rem;
  font-family: "Roboto", sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'%23222222\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e") no-repeat right .5625rem center/8px 10px;
  background-color: #fafafa;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.custom-select:focus {
  border-color: #e8490f;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(232, 73, 15, .25);
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: .5625rem;
  background-image: none;
}

.custom-select:disabled {
  color: #798490;
  background-color: #eee;
}

.custom-select-sm {
  height: calc(1.5em + .5rem + 2px);
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  font-size: .875rem;
}

.custom-select-lg {
  height: calc(1.5em + 1rem + 2px);
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
}

.checkbox_square {
  position: relative;
  padding-left: 1.5rem;

  &+.checkbox_square {
    margin-top: 10px;
  }

  .checkbox_square_label {
    display: block;
    padding: 0 10px;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0.25rem;
      left: 0;
      width: 1rem;
      height: 1rem;
      border: #adb5bd solid 1px;
      background: no-repeat 50%/50% 50%;
      cursor: pointer;
      transition: all 0.3s;
    }

    &::before {
      border-radius: 2px;
      background-color: #fafafa;
    }

    &::after {
      border-color: transparent;
      background-image: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3e%3cpath fill=\'%23fff\' d=\'M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z\'/%3e%3c/svg%3e");
      opacity: 0;
    }

  }

  .checkbox_square_input {
    display: none;

    &:checked+.checkbox_square_label {

      &::before {
        color: #fff;
        border-color: $primary;
        background-color: $primary;
      }

      &::after {
        opacity: 1;
      }
    }

    &[disabled]+.checkbox_square_label {
      cursor: default;
      opacity: 0.5;
    }
  }

  &.color_checkbox {
    padding-left: 0;

    .checkbox_square_label {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 0;

      &::after,
      &::before {
        display: none;
      }

      .color_preview {
        position: relative;
        width: 32px;
        height: 32px;
        display: inline-block;
        border-radius: 4px;
        border: 1px solid #eaeaf0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
      }

      .color_checkbox_checked {
        position: absolute;
        top: -4px;
        left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background-color: #798490;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        opacity: 0;
        transition: opacity 0.2s;

        svg {
          width: 10px;
          height: 10px;
          fill: currentColor;

          path {
            fill: currentColor;
          }
        }
      }
    }

    .checkbox_square_input:checked+.checkbox_square_label {
      .color_checkbox_checked {
        opacity: 1;
      }
    }

  }
}


//  -----------------------------
// 2.5 Labels
// ------------------------------

.label {
  font-weight: 400;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #333;
  background-color: transparent;
  font-size: 1rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: 3px;
}

.label-tc-innovations {
  color: #fff;
  background-color: #137bc9;
  border-color: #137bc9;
}

.label-tc-innovations-lighten {
  color: #0a4069;
  background-color: #d0e5f4;
  border-color: #bddaf0;
}

.label-themeware {
  color: #fff;
  background-color: #0d5a93;
  border-color: #0d5a93;
}

.label-themeware-lighten {
  color: #072f4c;
  background-color: #cfdee9;
  border-color: #bbd1e1;
}

.label-stageware {
  color: #fff;
  background-color: #263238;
  border-color: #263238;
}

.label-stageware-lighten {
  color: #141a1d;
  background-color: #d4d6d7;
  border-color: #c2c6c7;
}

.label-primary {
  color: #fff;
  background-color: #e8490f;
  border-color: #e8490f;
}

.label-primary-lighten {
  color: #792608;
  background-color: #fadbcf;
  border-color: #f9ccbc;
}

.label-secondary {
  color: #fff;
  background-color: #566573;
  border-color: #566573;
}

.label-secondary-lighten {
  color: #2d353c;
  background-color: #dde0e3;
  border-color: #d0d4d8;
}

.label-success {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.label-success-lighten {
  color: #186a3b;
  background-color: #d5f5e3;
  border-color: #c4f1d7;
}

.label-info {
  color: #fff;
  background-color: #4aa3df;
  border-color: #4aa3df;
}

.label-info-lighten {
  color: #265574;
  background-color: #dbedf9;
  border-color: #cce5f6;
}

.label-warning {
  color: #212529;
  background-color: #f1c40f;
  border-color: #f1c40f;
}

.label-warning-lighten {
  color: #7d6608;
  background-color: #fcf3cf;
  border-color: #fbeebc;
}

.label-danger {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.label-danger-lighten {
  color: #78281f;
  background-color: #fadbd8;
  border-color: #f8cdc8;
}

.label-light {
  color: #212529;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.label-light-lighten {
  color: #818181;
  background-color: #fefefe;
  border-color: #fdfdfd;
}

.label-dark {
  color: #fff;
  background-color: #4a545b;
  border-color: #4a545b;
}

.label-dark-lighten {
  color: #262c2f;
  background-color: #dbddde;
  border-color: #cccfd1;
}

.label-lg {
  font-size: 1.25rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  border-radius: 3px;
}

.label-sm {
  font-size: .875rem;
  padding: .25rem .5rem;
  line-height: 1.5;
  border-radius: 3px;
}

.label-block {
  display: block;
  width: 100%;
}

//  -----------------------------
// 2.6 Alerts
// ------------------------------
.alert-has-icon {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.alert-has-icon .alert-content-container {
  padding-left: 1rem;
}

.alert-list {
  padding-left: 20px;
  margin-bottom: 0;
}

.alert {
  padding: 0;
  border: 0;
}

.alert .icon {
  margin: .5rem;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.alert .icon svg {
  top: 0;
}

.alert-has-icon {
  -ms-flex-align: normal;
  align-items: normal;
}

.alert-content-container {
  padding: .5rem;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.alert-primary {
  background-color: #e8490f;
}

.alert-primary .alert-content-container {
  background-color: #fadbcf;
  color: #e8490f;
}

.alert-primary .icon {
  color: #fff;
}

.alert-secondary {
  background-color: #566573;
}

.alert-secondary .alert-content-container {
  background-color: #dde0e3;
  color: #566573;
}

.alert-secondary .icon {
  color: #fff;
}

.alert-success {
  background-color: #2ecc71;
}

.alert-success .alert-content-container {
  background-color: #d5f5e3;
  color: #2ecc71;
}

.alert-success .icon {
  color: #fff;
}

.alert-info {
  background-color: #4aa3df;
}

.alert-info .alert-content-container {
  background-color: #dbedf9;
  color: #4aa3df;
}

.alert-info .icon {
  color: #fff;
}

.alert-warning {
  background-color: #f1c40f;
}

.alert-warning .alert-content-container {
  background-color: #fcf3cf;
  color: #f1c40f;
}

.alert-warning .icon {
  color: #fff;
}

.alert-danger {
  background-color: #e74c3c;
}

.alert-danger .alert-content-container {
  background-color: #fadbd8;
  color: #e74c3c;
}

.alert-danger .icon {
  color: #fff;
}

.alert-light {
  background-color: #f9f9f9;
}

.alert-light .alert-content-container {
  background-color: #fefefe;
  color: #f9f9f9;
}

.alert-light .icon {
  color: #fff;
}

.alert-dark {
  background-color: #4a545b;
}

.alert-dark .alert-content-container {
  background-color: #dbddde;
  color: #4a545b;
}

.alert-dark .icon {
  color: #fff;
}

/* ------------------------------------------------

    3. General Classes

------------------------------------------------ */

.al_left {
  text-align: left;
}

.al_right {
  text-align: right;
}

.al_center {
  text-align: center;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.wrapper {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.d_ib {
  display: inline-block;
}

.transparent {
  opacity: 0;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.p_abs {
  position: absolute;
}

.p_rel {
  position: relative;
}

.p_fix {
  position: fixed;
}

.reg {
  text-transform: uppercase
}

.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* --------------------------------------------
      3.1. Flex
-------------------------------------------- */
.flex_box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.flex_middle {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.flex_between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.flex_wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex_center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

.flex_end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}

.flex_bottom {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}

.flex_start {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}

.flex_column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.flex_align_end {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  -o-align-self: flex-end;
  align-self: flex-end;
}

.box_first {
  -webkit-order: -1;
  -moz-order: -1;
  -ms-order: -1;
  -o-order: -1;
  order: -1;
}

.box_fix {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  -o-flex-shrink: 0;
  flex-shrink: 0;
}

/* --------------------------------------------
      3.2. Colors
-------------------------------------------- */

.bg-primary {
  background-color: #e8490f !important;
}

a.bg-primary:hover,
button.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:focus {
  background-color: #b83a0c !important;
}

.bg-secondary {
  background-color: #566573 !important;
}

a.bg-secondary:hover,
button.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:focus {
  background-color: #404b56 !important;
}

.bg-success {
  background-color: #2ecc71 !important;
}

a.bg-success:hover,
button.bg-success:hover,
a.bg-success:focus,
button.bg-success:focus {
  background-color: #25a25a !important;
}

.bg-info {
  background-color: #4aa3df !important;
}

a.bg-info:hover,
button.bg-info:hover,
a.bg-info:focus,
button.bg-info:focus {
  background-color: #258cd1 !important;
}

.bg-warning {
  background-color: #f1c40f !important;
}

a.bg-warning:hover,
button.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:focus {
  background-color: #c29d0b !important;
}

.bg-danger {
  background-color: #e74c3c !important;
}

a.bg-danger:hover,
button.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:focus {
  background-color: #d62c1a !important;
}

.bg-light,
.order-detail-table-footer {
  background-color: #f9f9f9 !important;
}

a.bg-light:hover,
a.order-detail-table-footer:hover,
button.bg-light:hover,
button.order-detail-table-footer:hover,
a.bg-light:focus,
a.order-detail-table-footer:focus,
button.bg-light:focus,
button.order-detail-table-footer:focus {
  background-color: #e0e0e0 !important;
}

.bg-dark {
  background-color: #4a545b !important;
}

a.bg-dark:hover,
button.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:focus {
  background-color: #333a3f !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.btn-primary .icon,
.address-editor-select:not(.collapsed) .icon,
.address-editor-edit:not(.collapsed) .icon,
.address-editor-create:not(.collapsed) .icon {
  color: #fff;
}

.btn-secondary .icon {
  color: #fff;
}

.btn-success .icon {
  color: #fff;
}

.btn-info .icon {
  color: #fff;
}

.btn-warning .icon {
  color: #212529;
}

.btn-danger .icon {
  color: #fff;
}

.btn-light .icon {
  color: #212529;
}

.btn-dark .icon {
  color: #fff;
}

.btn .icon>svg {
  top: 6px;
}

.pagination .icon {
  width: 13px;
  height: 13px;
}

.pagination .icon>svg {
  top: 2px;
}

.is-left .offcanvas-close svg {
  top: 0;
}

.is-right .offcanvas-close svg {
  top: .3rem;
}

.navigation-offcanvas-link-icon .icon>svg {
  top: 0;
}

.icon {
  width: 22px;
  height: 22px;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: inherit;
  overflow: visible;
  color: #878787;
}

.icon>svg {
  width: 100%;
  height: 100%;
  top: .25em;
  position: relative;
  fill: currentColor;
}

.icon>svg path,
.icon>svg use {
  fill: currentColor;
}

.icon-primary {
  color: var(--text-color-brand-primary);
}

.icon-secondary {
  color: #566573;
}

.icon-success {
  color: #2ecc71;
}

.icon-info {
  color: #4aa3df;
}

.icon-warning {
  color: #f1c40f;
}

.icon-danger {
  color: #e74c3c;
}

.icon-light {
  color: #eee;
}

.icon-dark {
  color: #4a545b;
}

.icon-review {
  color: #fedc70;
}

.icon-fluid {
  width: 100%;
  height: 100%;
}

.icon-lg {
  width: 29.3333333333px;
  height: 29.3333333333px;
}

.icon-sm,
.navigation-offcanvas-link-icon .loader {
  width: 19.25px;
  height: 19.25px;
}

.icon-xs {
  width: 16.5px;
  height: 16.5px;
}

.icon-1x {
  width: 22px;
  height: 22px;
}

.icon-2x {
  width: 44px;
  height: 44px;
}

.icon-3x {
  width: 66px;
  height: 66px;
}

.icon-4x {
  width: 88px;
  height: 88px;
}

.icon-5x {
  width: 110px;
  height: 110px;
}

.icon-6x {
  width: 132px;
  height: 132px;
}

.icon-7x {
  width: 154px;
  height: 154px;
}

.icon-8x {
  width: 176px;
  height: 176px;
}

.icon-9x {
  width: 198px;
  height: 198px;
}

.icon-10x {
  width: 220px;
  height: 220px;
}

.icon-rotate-90 svg {
  -webkit-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-rotate-180 svg {
  -webkit-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon-rotate-270 svg {
  -webkit-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.icon-flip-horizontal svg {
  -webkit-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icon-flip-vertical svg {
  -webkit-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -ms-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.icon-flip-both svg,
.icon-flip-horizontal.icon-flip-vertical svg {
  -webkit-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -ms-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

/* ------------------------------------------------

    4. Main
    
------------------------------------------------ */

section {
  padding: 0px 0px 0px 0px;
}

.page_wrap {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%
}

.row {
  &.row_offset {
    margin-bottom: -40px;
  }

  &.row_offset>* {
    margin-bottom: 40px;
  }
}

.row_sm {
  margin-left: -10px;
  margin-right: -10px;

  &>* {
    padding-left: 10px;
    padding-right: 10px;
  }

  &.row_offset>* {
    margin-bottom: 20px;
  }
}

.box_be {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -10px;

  &>*:not(:last-child) {
    margin-right: 20px;
  }

  &>* {
    margin-bottom: 10px;
  }
}

.section_vert {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}


.section_bottom {
  width: 100%;
  align-self: flex-end;
}

.section_top {
  width: 100%;
}

/* --------------------------------------------
      4.1. Page tilte end breadcrumps
-------------------------------------------- */

.breadcrumps {
  font-size: 16px;
  line-height: 18px;
  color: #9ca8b7;
  margin-bottom: 15px;
}

.breadcrumps a {
  text-decoration: none;
}

.breadcrumps a:hover {
  text-decoration: underline;
}

.breadcrumps li {
  display: inline-block;
  position: relative;

}

.breadcrumps li:not(:last-child) {
  padding-right: 21px;
}

.breadcrumps li:not(:last-child):after {
  content: " ";
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #cccccc;
  top: 2px;
  right: 10px;
}

/* --------------------------------------------
      4.2. Offsets
-------------------------------------------- */

.mb0 {
  margin-bottom: 0px !important;
}

.mb2 {
  margin-bottom: 2px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb55 {
  margin-bottom: 55px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.pl20 {
  padding-left: 20px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pr20 {
  padding-right: 10px;
}


/* ------------------------------------------------

    5. Header

------------------------------------------------ */

header {
  background-image: url(../images/header-bg.jpg);
}

.top-bar-nav {
  background-color: #2e3740;
  line-height: 30px;
  display: none;
}

.top-bar-nav-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

}

.top-bar-nav .top-bar-nav-btn.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .875rem;
  color: #fff;
}

.top-bar-nav-btn.btn {
  color: #333;
  font-weight: 400;
  padding: 0;
}

.language-flag.country-de {
  background-image: linear-gradient(to bottom, #000 33%, #d00 33%, #d00 66%, #ffce00 66%);
}

.language-flag.country-en {
  background-size: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\' width=\'640\' height=\'480\'%3E%3Cdefs%3E%3CclipPath id=\'a\'%3E%3Cpath d=\'M-85 0h682v512H-85z\'%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=\'url%28%23a%29\' transform=\'translate%2880%29 scale%28.94%29\'%3E%3Cpath fill=\'%23006\' d=\'M-256 0H768v512H-256z\'%2F%3E%3Cpath fill=\'%23fff\' d=\'M-256 0v57l910 455h114v-57L-141 0h-115zM768 0v57l-909 455h-115v-57L654 0h114z\'%2F%3E%3Cpath fill=\'%23fff\' d=\'M171 0v512h170V0H171zm-427 171v170H768V171H-256z\'%2F%3E%3Cpath fill=\'%23c00\' d=\'M-256 205v102H768V205H-256zM205 0v512h102V0H205zm-461 512L85 341h77l-342 171h-76zm0-512L85 171H9L-256 38V0zm606 171L692 0h76L427 171h-77zm418 341L427 341h76l265 133v38z\'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.top-bar-list-icon {
  margin-right: 0.5rem;
}

.language-flag {
  display: inline-block;
  height: 12px;
  width: 16px;
  border: 1px solid #adb5bd;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown .dropdown-menu {
  font-size: .875rem;
  margin-top: 2px;
  color: #333;
  border: 1px solid #d8d8d8;
  background-color: #fff;

  .language-flag {
    margin-top: 2px;
  }
}

.dropdown-menu.show {
  display: block;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #333;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #eaeaf0;
  border-radius: 2px;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown .dropdown-menu::before {
  position: absolute;
  top: -5px;
  right: 20px;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #d8d8d8;
  background: #fff;
}

.dropdown .dropdown-menu .dropdown-item {
  line-height: 1.5;
  color: #333;

}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;

}

.top-bar-list-label {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
}

.dropdown .dropdown-menu .dropdown-item {
  line-height: 1.5;
  color: #333;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  color: #e8490f;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.top-bar-list-radio {
  position: absolute;
  clip: rect(0 0 0 0);
  pointer-events: none;
}

.middle-bar {
  padding: 21px 0 20px 0;
}

.middle-bar-in {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.logo {
  padding-right: 40px;
}

.logo a {
  display: inline-block;
}

.header-logo-picture {
  display: block;
  max-width: 300px;
  margin: auto;
}

.no-gutters {
  .dropdown>* {
    margin-right: 10px;
  }
}

.home-link .icon-home {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjIuNzIsMTEuNTVsLTMuMjEtMy4zVjMuODFhMSwxLDAsMSwwLTIsMFY2LjE5TDEyLjcyLDEuMjVBMS4wNiwxLjA2LDAsMCwwLDEyLDFhMSwxLDAsMCwwLS43Mi4zMUwzLjQ1LDkuNTFhLjgxLjgxLDAsMCwwLS4xOC4xOWwtMiwyLjFhMSwxLDAsMCwwLDAsMS40MiwxLDEsMCwwLDAsLjY5LjI3LDEsMSwwLDAsMCwuNzMtLjMxbC4zMy0uMzZ2OC40M0ExLjk0LDEuOTQsMCwwLDAsNSwyMy4xOEg5LjkyVjE0LjRoNHY4Ljc4aDQuOTJhMS45MywxLjkzLDAsMCwwLDEuOTMtMS45M1YxMi40M2wuNS41MmExLDEsMCwxLDAsMS40NC0xLjRaIi8+PC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjIuNzIsMTEuNTVsLTMuMjEtMy4zVjMuODFhMSwxLDAsMSwwLTIsMFY2LjE5TDEyLjcyLDEuMjVBMS4wNiwxLjA2LDAsMCwwLDEyLDFhMSwxLDAsMCwwLS43Mi4zMUwzLjQ1LDkuNTFhLjgxLjgxLDAsMCwwLS4xOC4xOWwtMiwyLjFhMSwxLDAsMCwwLDAsMS40MiwxLDEsMCwwLDAsLjY5LjI3LDEsMSwwLDAsMCwuNzMtLjMxbC4zMy0uMzZ2OC40M0ExLjk0LDEuOTQsMCwwLDAsNSwyMy4xOEg5LjkyVjE0LjRoNHY4Ljc4aDQuOTJhMS45MywxLjkzLDAsMCwwLDEuOTMtMS45M1YxMi40M2wuNS41MmExLDEsMCwxLDAsMS40NC0xLjRaIi8+PC9zdmc+");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.header-wishlist .icon-heart {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjEuNTUsNC41MWEuNDYuNDYsMCwwLDAtLjA3LS4wNyw1Ljc4LDUuNzgsMCwwLDAtNS4yNS0yLDUuMTUsNS4xNSwwLDAsMC0yLjI5LDFMMTIsNC45Myw5Ljg5LDMuMzFhNC4zNiw0LjM2LDAsMCwwLTEuMDctLjYyYy0xLS4zOS0zLjY3LTEtNi4zLDEuNzVsLS4wNy4wN2E2LjYxLDYuNjEsMCwwLDAtMS4wOCw2LjMxLDYsNiwwLDAsMCwxLjUyLDIuMzlMMTEuMywyMS41YS44My44MywwLDAsMCwuMjIuMTQuNjEuNjEsMCwwLDAsLjEuMDcuOTQuOTQsMCwwLDAsLjc2LDAsLjYxLjYxLDAsMCwwLC4xLS4wNy44My44MywwLDAsMCwuMjItLjE0bDguNDEtOC4yOWE2LDYsMCwwLDAsMS41Mi0yLjM5QTYuNjEsNi42MSwwLDAsMCwyMS41NSw0LjUxWiIvPjwvc3ZnPg==");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjEuNTUsNC41MWEuNDYuNDYsMCwwLDAtLjA3LS4wNyw1Ljc4LDUuNzgsMCwwLDAtNS4yNS0yLDUuMTUsNS4xNSwwLDAsMC0yLjI5LDFMMTIsNC45Myw5Ljg5LDMuMzFhNC4zNiw0LjM2LDAsMCwwLTEuMDctLjYyYy0xLS4zOS0zLjY3LTEtNi4zLDEuNzVsLS4wNy4wN2E2LjYxLDYuNjEsMCwwLDAtMS4wOCw2LjMxLDYsNiwwLDAsMCwxLjUyLDIuMzlMMTEuMywyMS41YS44My44MywwLDAsMCwuMjIuMTQuNjEuNjEsMCwwLDAsLjEuMDcuOTQuOTQsMCwwLDAsLjc2LDAsLjYxLjYxLDAsMCwwLC4xLS4wNy44My44MywwLDAsMCwuMjItLjE0bDguNDEtOC4yOWE2LDYsMCwwLDAsMS41Mi0yLjM5QTYuNjEsNi42MSwwLDAsMCwyMS41NSw0LjUxWiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.account-menu .icon-avatar {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjEuMzEsMTYuMjRBMTAuMywxMC4zLDAsMCwwLDE1Ljg5LDEzYTYuNTcsNi41NywwLDEsMC03Ljc0LDBBMTAuMTgsMTAuMTgsMCwwLDAsMi44LDE2LjI0YTcuODYsNy44NiwwLDAsMC0xLjU1LDMuODQsMSwxLDAsMCwwLC4zNS44NSw4Ljg5LDguODksMCwwLDAsMi45NCwxLjQxLDI4LjUsMjguNSwwLDAsMCw3LjM0Ljg0aC4zNWEyOC41LDI4LjUsMCwwLDAsNy4zNC0uODQsOSw5LDAsMCwwLDIuOTQtMS40MSwxLDEsMCwwLDAsLjM0LS44NUE3LjgsNy44LDAsMCwwLDIxLjMxLDE2LjI0Wk0xMiwzLjE3QTQuNTcsNC41NywwLDEsMSw3LjQ0LDcuNzQsNC41Nyw0LjU3LDAsMCwxLDEyLDMuMTdaIi8+PC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjEuMzEsMTYuMjRBMTAuMywxMC4zLDAsMCwwLDE1Ljg5LDEzYTYuNTcsNi41NywwLDEsMC03Ljc0LDBBMTAuMTgsMTAuMTgsMCwwLDAsMi44LDE2LjI0YTcuODYsNy44NiwwLDAsMC0xLjU1LDMuODQsMSwxLDAsMCwwLC4zNS44NSw4Ljg5LDguODksMCwwLDAsMi45NCwxLjQxLDI4LjUsMjguNSwwLDAsMCw3LjM0Ljg0aC4zNWEyOC41LDI4LjUsMCwwLDAsNy4zNC0uODQsOSw5LDAsMCwwLDIuOTQtMS40MSwxLDEsMCwwLDAsLjM0LS44NUE3LjgsNy44LDAsMCwwLDIxLjMxLDE2LjI0Wk0xMiwzLjE3QTQuNTcsNC41NywwLDEsMSw3LjQ0LDcuNzQsNC41Nyw0LjU3LDAsMCwxLDEyLDMuMTdaIi8+PC9zdmc+");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.header-cart .icon-bag {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuODcsNi44MmExLDEsMCwwLDAtMS0uOTNIMTYuNzJWNS4zNkE0LjQ1LDQuNDUsMCwwLDAsMTIsMSw0LjQyLDQuNDIsMCwwLDAsNy4yMyw1LjM2di41M0g0LjExYTEsMSwwLDAsMC0xLC45M2wtMSwxNGEyLDIsMCwwLDAsMiwyLjE0SDE5LjhhMiwyLDAsMCwwLDItMi4xM1pNOS4yMyw1LjM3QTIuNCwyLjQsMCwwLDEsMTIsM2MyLjU5LDAsMi43NiwyLDIuNzcsMi4zN3YuNTNIOS4yM1ptLTIsMi41MnYxYTEsMSwwLDAsMCwyLDB2LTFoNS40OXYxYTEsMSwwLDEsMCwyLDB2LTFoMi4yMmwuNSw3LjYxSDQuNTFsLjU0LTcuNjFaIi8+PC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuODcsNi44MmExLDEsMCwwLDAtMS0uOTNIMTYuNzJWNS4zNkE0LjQ1LDQuNDUsMCwwLDAsMTIsMSw0LjQyLDQuNDIsMCwwLDAsNy4yMyw1LjM2di41M0g0LjExYTEsMSwwLDAsMC0xLC45M2wtMSwxNGEyLDIsMCwwLDAsMiwyLjE0SDE5LjhhMiwyLDAsMCwwLDItMi4xM1pNOS4yMyw1LjM3QTIuNCwyLjQsMCwwLDEsMTIsM2MyLjU5LDAsMi43NiwyLDIuNzcsMi4zN3YuNTNIOS4yM1ptLTIsMi41MnYxYTEsMSwwLDAsMCwyLDB2LTFoNS40OXYxYTEsMSwwLDEsMCwyLDB2LTFoMi4yMmwuNSw3LjYxSDQuNTFsLjU0LTcuNjFaIi8+PC9zdmc+");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.header-cart-total {
  margin-left: 10px;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.header-cart .header-cart-badge,
.header-wishlist .header-wishlist-badge {
  position: absolute;
  right: -0.25rem;
}

.badge {
  border: 0;
  border-radius: 50px;
  box-sizing: content-box;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  min-width: 10px;
  padding: 0 5px;
  font-size: .75rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge-primary {
  color: #fff;
  background-color: #e8490f;
}

header.header-main .header-cart-badge,
header.header-main .header-cart-badge {
  display: block;
}

.header-cart-btn span,
.account-menu-btn span {
  margin-right: 3px;
  margin-top: -1px;
}

.twt-usp-bar.position-header {
  background-color: #2e3740;
  margin: 0;
  padding: 10px 0;
  position: relative;
  height: 38px;
  display: none;
}

.twt-usp-bar-wr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.twt-usp-bar .twt-usp-bar-item div.item-icon {
  text-align: center;
  display: inline-block;
}

.twt-usp-bar.position-header .twt-usp-bar-item span.icon {
  height: 13px;
  width: 13px;
  margin-right: 5px;
  color: #9fa5ab;
}

.twt-usp-bar.position-header .twt-usp-bar-item div {
  display: inline-block;
}

.twt-usp-bar .twt-usp-bar-item {
  font-family: "Roboto", sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  display: inline-block;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
  color: #9fa5ab;
}

.offcanvas-close {
  height: 50px;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #798490;
}

.navigation-offcanvas-link-icon {
  margin-right: 0.5rem;
}

.navigation-offcanvas-link2 {
  color: #e8490f !important;
  justify-content: start !important;
  border-top: 0 !important;

  path {
    fill: #e8490f;
  }

  svg {
    margin-top: -3px;
  }
}

.navigation-offcanvas-link {
  justify-content: start !important;
  font-weight: bold;

  svg {
    margin-top: -3px;
  }
}

.navigation-flyout-link.is-current-category {
  color: #e8490f !important;
  font-weight: 600 !important;
}

.modal-overflow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

.modal-overflow {
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .45s cubic-bezier(.3, 0, .15, 1), visibility .45s linear;
  transition: opacity .45s cubic-bezier(.3, 0, .15, 1), visibility .45s linear;
}

.modal-overflow.modal-overflow-open {
  opacity: 1;
  visibility: visible;
}

header.header-main .header-actions-btn,
header.header-main .header-search-col .header-actions-btn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
  border: 1px solid #2e3740;
  border-radius: 2px;
  background-color: #2e3740;
}

header.header-main .header-actions-btn .icon,
header.header-main .header-search-col .header-actions-btn .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #e8490f;
}

header.header-main .header-actions-btn.header-cart-btn .icon,
header.header-main .header-search-col .header-actions-btn.header-cart-btn .icon {
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  color: #e8490f;
}

header.header-main .header-actions-btn:active,
header.header-main .header-search-col .header-actions-btn:active,
header.header-main .header-actions-btn:hover,
header.header-main .header-search-col .header-actions-btn:hover {
  color: #d8d8d8;
  border: 1px solid #2e3740;
  background-color: #2e3740;
}

header.header-main .header-actions-btn,
header.header-main .header-actions-btn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
  border: 1px solid #2e3740;
  border-radius: 2px;
  background-color: #2e3740;
}

.nav-main .main-navigation-link.active {
  background-color: #21262c;
  color: #e8490f;
  font-weight: 600;
}

.nav-main .main-navigation-link.active .icon {
  color: #e8490f;
}

.nav-main .main-navigation-link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  line-height: 56px;
  height: 56px;
  padding: 0 30px;
  -webkit-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
  text-transform: uppercase;
}

.nav-main .main-navigation-link:hover {
  background-color: #fff;
  color: #e8490f;

}

.account-menu-header {
  border-bottom: 1px solid #eaeaf0;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  color: #e8490f;
}

.account-menu .dropdown .dropdown-menu.account-menu-dropdown .account-menu-header {
  color: #333;
  border-bottom: 1px solid #d8d8d8;
}

.account-menu .dropdown .dropdown-menu.account-menu-dropdown .account-menu-login {
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
}

.account-menu-login {
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaf0;
  margin-bottom: 0.25rem;
}

/* --------------------------------------------
      5.1. Main navigation
-------------------------------------------- */

.nav-main {
  background-color: #21262c;
  position: relative;
  z-index: 5;

  .main-navigation>.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: none;
    width: 140px;
    flex-shrink: 0;
    padding-right: 20px;
  }

  .header-cart-btn {
    position: relative;
    background: none !important;
    border: none !important;
    display: none;
  }

  .header-main.fix & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .header-cart-btn {
      display: flex;
    }

    .logo {
      display: block;
    }
  }
}

.main-navigation-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-main .main-navigation-link {
  text-decoration: none;
}

.navigation-flyout {
  width: 100%;
  box-shadow: 0 43px 43px -6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  //pointer-events: none;
  position: absolute;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  //height: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-drop:hover {
  .navigation-flyout {
    visibility: visible;
    opacity: 1;
  }
}

.navigation-flyout-bar {
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}

.navigation-flyout-content {
  padding-bottom: 60px;
}

.navigation-flyout-categories:not(.is-level-0) {
  margin-left: 20px;
}

.navigation-flyout-categories.is-level-0>.navigation-flyout-col.col-3:nth-child(4n+1),
.navigation-flyout-categories.is-level-0>.navigation-flyout-col.col-4:nth-child(3n+1) {
  border-left: 0;
}

.navigation-flyout-categories.is-level-0>.navigation-flyout-col {
  margin-bottom: 30px;
  position: relative;
}

.navigation-flyout-categories.is-level-0>.navigation-flyout-col::before {
  border-left: 1px solid #eaeaf0;
  content: "";
  height: 100%;
  left: 15px;
  position: absolute;
  top: 0;
}

.navigation-flyout-link {
  -webkit-transition: padding .25s cubic-bezier(0, .77, .33, 1);
  transition: padding .25s cubic-bezier(0, .77, .33, 1);
  color: #4a545b;
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: 0.25rem 0;
}

.navigation-flyout {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.navigation-flyout-link:hover {
  padding-left: 5px;
  text-decoration: none;
}

div.no_wrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 40px;
}

.is-act-checkoutregisterpage .checkout .checkout-aside {
  display: none !important;
}

.navigation-offcanvas-headline {
  font-weight: 600;
  color: #566573;
  padding: 20px 1rem 1rem;
}

.account-menu .offcanvas-close {
  display: none;
}

/* --------------------------------------------
      5.2. Search
-------------------------------------------- */

.header-search {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.header-search-form {
  position: relative;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;

  &>.input-group-append {
    &>.btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.header-search input.header-search-input {
  font-size: 1rem;
  border: 1px solid #fff;
  color: #333;
  background-color: #fff;
  text-align: left;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none !important;
}

.input-group>.form-control:not(:last-child),
.input-group>.custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-append {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: -1px;

  .btn {
    position: relative;
    z-index: 2;
  }
}

.header-search .header-search-btn {
  background-color: #fff;
  border: 1px solid #fff;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 47px;
}

group>.input-group-prepend:not(:first-child)>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.header-search .header-search-btn .icon {
  color: #e8490f;
  margin-bottom: 2px;
}

.header-search-icon .icon-search {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTQuMzQsMUE4LjUyLDguNTIsMCwwLDAsNy43NywxNUwxLjQzLDIxLjI5YTEsMSwwLDAsMCwwLDEuNDIsMSwxLDAsMCwwLC43MS4yOSwxLDEsMCwwLDAsLjcxLS4yOWw2LjM4LTYuMzhBOC41Miw4LjUyLDAsMSwwLDE0LjM0LDFabTAsMTVhNi41Miw2LjUyLDAsMSwxLDYuNTItNi41MkE2LjUzLDYuNTMsMCwwLDEsMTQuMzQsMTZaIi8+PC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTQuMzQsMUE4LjUyLDguNTIsMCwwLDAsNy43NywxNUwxLjQzLDIxLjI5YTEsMSwwLDAsMCwwLDEuNDIsMSwxLDAsMCwwLC43MS4yOSwxLDEsMCwwLDAsLjcxLS4yOWw2LjM4LTYuMzhBOC41Miw4LjUyLDAsMSwwLDE0LjM0LDFabTAsMTVhNi41Miw2LjUyLDAsMSwxLDYuNTItNi41MkE2LjUzLDYuNTMsMCwwLDEsMTQuMzQsMTZaIi8+PC9zdmc+");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.header-search-toggle-icon .icon-search {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTQuMzQsMUE4LjUyLDguNTIsMCwwLDAsNy43NywxNUwxLjQzLDIxLjI5YTEsMSwwLDAsMCwwLDEuNDIsMSwxLDAsMCwwLC43MS4yOSwxLDEsMCwwLDAsLjcxLS4yOWw2LjM4LTYuMzhBOC41Miw4LjUyLDAsMSwwLDE0LjM0LDFabTAsMTVhNi41Miw2LjUyLDAsMSwxLDYuNTItNi41MkE2LjUzLDYuNTMsMCwwLDEsMTQuMzQsMTZaIi8+PC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTQuMzQsMUE4LjUyLDguNTIsMCwwLDAsNy43NywxNUwxLjQzLDIxLjI5YTEsMSwwLDAsMCwwLDEuNDIsMSwxLDAsMCwwLC43MS4yOSwxLDEsMCwwLDAsLjcxLS4yOWw2LjM4LTYuMzhBOC41Miw4LjUyLDAsMSwwLDE0LjM0LDFabTAsMTVhNi41Miw2LjUyLDAsMSwxLDYuNTItNi41MkE2LjUzLDYuNTMsMCwwLDEsMTQuMzQsMTZaIi8+PC9zdmc+");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.header-search-toggle-icon .icon-x {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTMuNDEsMTJsOS4zLTkuMjlhMSwxLDAsMSwwLTEuNDItMS40MkwxMiwxMC41OSwyLjcxLDEuMjlBMSwxLDAsMCwwLDEuMjksMi43MUwxMC41OSwxMmwtOS4zLDkuMjlhMSwxLDAsMCwwLDAsMS40MiwxLDEsMCwwLDAsMS40MiwwTDEyLDEzLjQxbDkuMjksOS4zYTEsMSwwLDAsMCwxLjQyLDAsMSwxLDAsMCwwLDAtMS40MloiLz48L3N2Zz4=");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTMuNDEsMTJsOS4zLTkuMjlhMSwxLDAsMSwwLTEuNDItMS40MkwxMiwxMC41OSwyLjcxLDEuMjlBMSwxLDAsMCwwLDEuMjksMi43MUwxMC41OSwxMmwtOS4zLDkuMjlhMSwxLDAsMCwwLDAsMS40MiwxLDEsMCwwLDAsMS40MiwwTDEyLDEzLjQxbDkuMjksOS4zYTEsMSwwLDAsMCwxLjQyLDAsMSwxLDAsMCwwLDAtMS40MloiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.footer-column-newsletter .icon-arrow-head-right {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjIsMy42OUgyYTEsMSwwLDAsMC0xLDFWMTguMzFhMiwyLDAsMCwwLDIsMkgyMWEyLDIsMCwwLDAsMi0yVjQuNjlBMSwxLDAsMCwwLDIyLDMuNjlaTTIwLjc4LDE3LjlhLjYyLjYyLDAsMCwxLS40OC4yMy42Mi42MiwwLDAsMS0uNC0uMTVsLTcuMDctNS44OS0uNDkuMzJoMGEuNTkuNTksMCwwLDEtLjMxLjA5aDBhLjU5LjU5LDAsMCwxLS4zMS0uMDloMGwtLjQ5LS4zMkw0LjEsMThhLjYyLjYyLDAsMCwxLS40LjE1QS42My42MywwLDAsMSwzLjMsMTdsNi43Ny01LjY0TDMuMzYsN2EuNjIuNjIsMCwwLDEtLjE5LS44NkEuNjMuNjMsMCwwLDEsNCw2bDgsNS4xNkwyMCw2YS42My42MywwLDAsMSwuODcuMTguNjIuNjIsMCwwLDEtLjE5Ljg2bC02LjcxLDQuMzZMMjAuNywxN0EuNjIuNjIsMCwwLDEsMjAuNzgsMTcuOVoiLz48L3N2Zz4=");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjIsMy42OUgyYTEsMSwwLDAsMC0xLDFWMTguMzFhMiwyLDAsMCwwLDIsMkgyMWEyLDIsMCwwLDAsMi0yVjQuNjlBMSwxLDAsMCwwLDIyLDMuNjlaTTIwLjc4LDE3LjlhLjYyLjYyLDAsMCwxLS40OC4yMy42Mi42MiwwLDAsMS0uNC0uMTVsLTcuMDctNS44OS0uNDkuMzJoMGEuNTkuNTksMCwwLDEtLjMxLjA5aDBhLjU5LjU5LDAsMCwxLS4zMS0uMDloMGwtLjQ5LS4zMkw0LjEsMThhLjYyLjYyLDAsMCwxLS40LjE1QS42My42MywwLDAsMSwzLjMsMTdsNi43Ny01LjY0TDMuMzYsN2EuNjIuNjIsMCwwLDEtLjE5LS44NkEuNjMuNjMsMCwwLDEsNCw2bDgsNS4xNkwyMCw2YS42My42MywwLDAsMSwuODcuMTguNjIuNjIsMCwwLDEtLjE5Ljg2bC02LjcxLDQuMzZMMjAuNywxN0EuNjIuNjIsMCwwLDEsMjAuNzgsMTcuOVoiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.nav-main-toggle-btn .icon-stack {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiw1LjQ4SDIyYTEsMSwwLDAsMCwwLTJIMmExLDEsMCwwLDAsMCwyWiIvPjxwYXRoIGQ9Ik0yMiwxMC45MkgyYTEsMSwwLDAsMCwwLDJIMjJhMSwxLDAsMCwwLDAtMloiLz48cGF0aCBkPSJNMjIsMTguNTJIMmExLDEsMCwwLDAsMCwySDIyYTEsMSwwLDAsMCwwLTJaIi8+PC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiw1LjQ4SDIyYTEsMSwwLDAsMCwwLTJIMmExLDEsMCwwLDAsMCwyWiIvPjxwYXRoIGQ9Ik0yMiwxMC45MkgyYTEsMSwwLDAsMCwwLDJIMjJhMSwxLDAsMCwwLDAtMloiLz48cGF0aCBkPSJNMjIsMTguNTJIMmExLDEsMCwwLDAsMCwySDIyYTEsMSwwLDAsMCwwLTJaIi8+PC9zdmc+");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.top-bar-nav-btn .icon-help {
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIsMUExMSwxMSwwLDEsMCwyMywxMiwxMSwxMSwwLDAsMCwxMiwxWm0xLDE3LjE5SDExVjE2LjEzSDEzWk0xNCwxMy4xMmEyLjE2LDIuMTYsMCwwLDAtLjUxLjQzLDEuMzMsMS4zMywwLDAsMC0uNDMuODZ2LjY5SDExdi0uNjlhMy4zLDMuMywwLDAsMSwxLTIuMjQsNS4zMSw1LjMxLDAsMCwxLC42OS0uNmMuNzgtLjY5LDEuMjktMS4xMiwxLjI5LTEuNzJhMiwyLDAsMSwwLTQsMEg4YTQsNCwwLDAsMSw0LTQsMy45MSwzLjkxLDAsMCwxLDQsNEMxNiwxMS40OCwxNC43NCwxMi40MywxNCwxMy4xMloiLz48L3N2Zz4=");
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIsMUExMSwxMSwwLDEsMCwyMywxMiwxMSwxMSwwLDAsMCwxMiwxWm0xLDE3LjE5SDExVjE2LjEzSDEzWk0xNCwxMy4xMmEyLjE2LDIuMTYsMCwwLDAtLjUxLjQzLDEuMzMsMS4zMywwLDAsMC0uNDMuODZ2LjY5SDExdi0uNjlhMy4zLDMuMywwLDAsMSwxLTIuMjQsNS4zMSw1LjMxLDAsMCwxLC42OS0uNmMuNzgtLjY5LDEuMjktMS4xMiwxLjI5LTEuNzJhMiwyLDAsMSwwLTQsMEg4YTQsNCwwLDAsMSw0LTQsMy45MSwzLjkxLDAsMCwxLDQsNEMxNiwxMS40OCwxNC43NCwxMi40MywxNCwxMy4xMloiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.input-group>.form-control,
.input-group>.form-control-plaintext,
.input-group>.custom-select,
.input-group>.custom-file {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.125rem + 2px);
  padding: 0.5625rem 0.5625rem;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  background-color: #fafafa;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  min-height: 40px;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 2px;
  border-left-width: 0;
  font-family: "Roboto", sans-serif;

}

textarea.form-control {
  height: auto;
}

.header-search .header-search-btn:hover {
  opacity: .8;
}

.search-suggest-container {
  position: absolute;
  top: 55px;
  left: 0;
  list-style: none;
  touch-action: manipulation;
  background: #fff;
  padding: 1rem;
  border: 1px solid #eaeaf0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 10px 25px -15px #000;
}

.search-suggest-product {
  border-bottom: 1px solid #eaeaf0;
}

.search-suggest-product-link {
  display: block;
  padding: 0.5rem 0;
  color: #333;
}

.search-suggest-product-link:hover {
  color: #e8490f;
  text-decoration: none;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.search-suggest-product-image-container {
  width: 35px;
  height: 35px;
  margin: 0 0.5rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.icon-lg {
  width: 29.3333333333px;
  height: 29.3333333333px;
}

.icon>svg {
  width: 100%;
  height: 100%;
  top: 0.25em;
  position: relative;
  fill: currentColor;
}

.search-suggest-total {
  padding: 0.5rem;
}

.search-suggest-container::after {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 12px;
  height: 12px;
  top: -7px;
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  left: 48%;
  border: 1px solid #eaeaf0;
  border-top: 0 none;
  border-right: 0 none;
}

/* ------------------------------------------------

    6. Plugins

------------------------------------------------ */


/* --------------------------------------------
      6.1. Preloader
-------------------------------------------- */
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #303030;
  background-image: url(../images/header-bg.jpg);
  z-index: 100500;
}

#page-preloader .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
  display: inline-block;
  padding: 0px;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(232, 73, 15, 0.65);
  border-bottom-color: rgba(232, 73, 15, 0.15);
  border-left-color: rgba(232, 73, 15, 0.65);
  border-right-color: rgba(232, 73, 15, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/* --------------------------------------------
      6.2. Back to top
-------------------------------------------- */

.back_to_top {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  background-color: #292929;
  z-index: 99;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(0);

  span {
    transform: translateY(-3px);
  }

  &.show {
    transform: scale(1);
  }
}

.back_to_top:active,
.back_to_top:focus {
  background-color: #292929;
  color: #fff;
}

.back_to_top:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff4e00;
}


/* --------------------------------------------
      6.3. Carousels
-------------------------------------------- */


/* ------------------------------------------------

    7. Footer

------------------------------------------------ */


/* --------------------------------------------
      7.1. Footer Top
-------------------------------------------- */
.footer_top {
  color: #f8f8fa;
  background-color: #2e3740;
}

.subscribe_box {
  padding: 20px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

.subscribe_title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.subscribe_form_row {
  display: inline-flex;
  margin-bottom: 20px;

  input {
    border: none;
    outline: none;
    width: 320px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    color: #333;
    border-radius: 2px 0 0 2px;
    background-color: #fff;
    padding: 0.5625rem 0.5625rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .subscribe_btn {
    flex-shrink: 0;
    width: 80px;
    color: #fff;

    span {
      display: inline-block;
      width: 22px;
      height: 22px;
      vertical-align: middle;
      background-color: currentColor;
      -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjIsMy42OUgyYTEsMSwwLDAsMC0xLDFWMTguMzFhMiwyLDAsMCwwLDIsMkgyMWEyLDIsMCwwLDAsMi0yVjQuNjlBMSwxLDAsMCwwLDIyLDMuNjlaTTIwLjc4LDE3LjlhLjYyLjYyLDAsMCwxLS40OC4yMy42Mi42MiwwLDAsMS0uNC0uMTVsLTcuMDctNS44OS0uNDkuMzJoMGEuNTkuNTksMCwwLDEtLjMxLjA5aDBhLjU5LjU5LDAsMCwxLS4zMS0uMDloMGwtLjQ5LS4zMkw0LjEsMThhLjYyLjYyLDAsMCwxLS40LjE1QS42My42MywwLDAsMSwzLjMsMTdsNi43Ny01LjY0TDMuMzYsN2EuNjIuNjIsMCwwLDEtLjE5LS44NkEuNjMuNjMsMCwwLDEsNCw2bDgsNS4xNkwyMCw2YS42My42MywwLDAsMSwuODcuMTguNjIuNjIsMCwwLDEtLjE5Ljg2bC02LjcxLDQuMzZMMjAuNywxN0EuNjIuNjIsMCwwLDEsMjAuNzgsMTcuOVoiLz48L3N2Zz4=);
      mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjIsMy42OUgyYTEsMSwwLDAsMC0xLDFWMTguMzFhMiwyLDAsMCwwLDIsMkgyMWEyLDIsMCwwLDAsMi0yVjQuNjlBMSwxLDAsMCwwLDIyLDMuNjlaTTIwLjc4LDE3LjlhLjYyLjYyLDAsMCwxLS40OC4yMy42Mi42MiwwLDAsMS0uNC0uMTVsLTcuMDctNS44OS0uNDkuMzJoMGEuNTkuNTksMCwwLDEtLjMxLjA5aDBhLjU5LjU5LDAsMCwxLS4zMS0uMDloMGwtLjQ5LS4zMkw0LjEsMThhLjYyLjYyLDAsMCwxLS40LjE1QS42My42MywwLDAsMSwzLjMsMTdsNi43Ny01LjY0TDMuMzYsN2EuNjIuNjIsMCwwLDEtLjE5LS44NkEuNjMuNjMsMCwwLDEsNCw2bDgsNS4xNkwyMCw2YS42My42MywwLDAsMSwuODcuMTguNjIuNjIsMCwwLDEtLjE5Ljg2bC02LjcxLDQuMzZMMjAuNywxN0EuNjIuNjIsMCwwLDEsMjAuNzgsMTcuOVoiLz48L3N2Zz4=);
      background-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
    }
  }
}

.subscribe_checkbox {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.2;
}

/* --------------------------------------------
      7.1. Footer Bottom
-------------------------------------------- */
.footer_bottom {
  padding-top: 40px;
}

.footer-column {
  margin-bottom: 30px;
}

.footer_title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  display: inline-block;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.footer_address {
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;

  a {
    display: block;
    margin: 1rem 0 0.5rem;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

.footer-contact-form {
  font-size: 16px;
  font-size: 1rem;

  a {
    color: #333;
  }
}

.footer_list {
  list-style: square;
  padding-left: 17px;

  li {
    padding: 2px 0;

    a {
      color: #333;

      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }
}

.footer-logo-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.footer-logo-badge {
  display: inline-block;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 600;
  line-height: 22.5px;
  padding: 10px;
  text-transform: none;
  color: #333;
  border: 1px solid #eee;
  background-color: #f8f8fa;

  &:hover {
    text-decoration: none;
    color: #333;
    opacity: 0.5;
  }
}

.footer_awards {
  width: 100px;

  img {
    width: 100%;
  }
}

/* --------------------------------------------
      7.2. Copyright
-------------------------------------------- */
.footer_copyright {
  padding: 40px;
  font-size: 14px;
  font-size: .875rem;
  color: #666;
}

/* ------------------------------------------------

    8. Main Section

------------------------------------------------ */

.cms-page {
  margin-top: 20px;
}

.cms-block {
  border: 1px solid #eee;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px 20px;
}

.cms-element-image {
  position: relative;
  padding-top: 113%;
}

.cms-image-link {
  display: block;
}

.cms-image-link:hover img {
  opacity: .7;
}

.cms-image-link img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 100%;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.cms-element-text {
  padding: 30px;
  -ms-flex-align: center;
  align-items: center;
  min-height: 240px;
  position: relative;
  z-index: 2;
}

.cms-block {
  position: relative;
}

.cms-bg img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.cms-img-box {
  border: 1px solid #eee;
  border-radius: 2px;
  margin-bottom: 20px;
  overflow: hidden;
}

.cms-gray-box {
  border-radius: 2px;
  padding: 30px;
  background-color: rgba(0, 0, 0, .04);
}

.account-menu-dropdown {
  padding: .5rem 1rem;
  min-width: 200px;
}

.account-menu-login-button {
  width: 100%;
  margin-bottom: 0.5rem;
}

.account-menu-register {
  text-align: center;

  a:not(.btn) {
    display: inline-block !important;
  }
}

.account-menu {
  .dropdown .dropdown-menu.account-menu-dropdown .account-aside-list-group {
    padding: 10px 0;

    .account-aside-item {
      padding: 3px 0px;
    }
  }

  a:not(.btn) {
    display: block;
    color: #333;

    &:hover {
      text-decoration: none;
      color: #e8490f;
    }
  }
}


// Product Card
.product_card_detail {
  width: 100%;

  th,
  td {
    text-align: left;
    padding: 15px 10px;
  }

  &.table-striped {
    tr {
      &:nth-child(odd) {
        background-color: rgba(0, 0, 0, .05);
      }
    }
  }
}

.product_card {
  position: relative;
  height: 100%;
  border: 1px solid #d8d8d8;
  transition: all $app-transition;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    border-color: $primary;
  }

  .product_card_media {
    aspect-ratio: var(--media-ratio);

    & img,
    .product_slider {
      width: 100%;
      aspect-ratio: var(--media-ratio);
      object-fit: contain;
    }
  }

  .product_card_info {
    flex-grow: 1;
  }

  .product_card_title {
    display: block;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    height: 44px;
    margin: 10px 0;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    a {
      color: $primary;

      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }

  .product_card_detail {

    .properties-label {
      text-align: left;
      padding: 0.75rem 0.75rem 0.75rem 0;
    }

    .properties-value {
      text-align: right;
      padding: 0.75rem 0 0.75rem 0.75rem;
    }
  }

  .product_card_footer {
    padding-top: 30px;
  }

  .product_price_wrapper {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;

    .product_price {
      color: #566573;
      min-height: 20px;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      overflow: hidden;

      &.with-list-price {
        color: #e8490f;

        .list-price {
          font-weight: 400;
          padding-left: 5px;
          font-size: 12px;
        }

        .list-price-price {
          text-decoration: line-through;
        }
      }
    }
  }
}

.product-badges {
  position: absolute;
  top: 10px;
  left: 5px;
  display: flex;
  z-index: 10;


  .badge {
    width: 32px;
    height: 32px;
    font-size: 16px;
    pointer-events: all;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
      0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 0px 10px;
    box-sizing: border-box;
    line-height: 32px;
  }
}

.badge-danger {
  color: #fff;
  background-color: #e74c3c;
}

a.badge-danger:hover,
a.badge-danger:focus {
  color: #fff;
  background-color: #d62c1a;
}

a.badge-danger:focus,
a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(231, 76, 60, .5);
}


// Swiper Slider

.section_slider {
  margin: 0 -15px;
  padding: 0 15px;

  .swiper-slide {
    height: auto;
  }

  .product_card {
    border: none;
  }

  [class*="swiper-button"] {
    color: $primary;
    opacity: 0;

    &::after {
      font-size: 20px;
    }

    .swiper-button-disabled {
      opacity: 0;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  &:hover {
    [class*="swiper-button"] {
      opacity: 1;
    }

    .swiper-button-disabled {
      opacity: 0;
    }
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $primary;
  opacity: 0.5;

  &.swiper-pagination-bullet-active {
    opacity: 1;
  }
}

// cms elements

.cms-block-center-text {
  .element-text {
    padding: 30px;
  }

  .element-image {
    height: 100%;
    position: relative;
    min-height: 340px;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

// Catalog

.sort_box {
  margin-bottom: 20px;
}

.sorting {
  width: 260px;
}

.products_list>.row {
  row-gap: 30px;
}

.category-nav {
  border: 1px solid #eee;
  border-radius: 2px;
  background-color: #fff;
  margin: 20px 0 30px;

  &>li {
    +li {
      font-size: 16px;
      border-top: 1px solid #eee;
    }

    a {
      display: block;
      padding: 7px 13px;
      color: #111;

      &.active,
      &:hover {
        color: #fff;
        font-weight: 600;
        background-color: $primary;
        text-decoration: none;

      }

      &.active {

        &+.category-subnav {
          display: block;
        }
      }
    }
  }
}

.category-subnav {
  display: none;

  a {
    padding-left: 25px;
    font-size: 14px;
  }
}

// Accordion
.accordion_widget {
  background-color: #fff;

  .accordion_title {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 30px 10px 15px;
    border: 1px solid #eaeaf0;
    cursor: pointer;
    transition: color 0.2s;

    &:not(:nth-last-child(2)) {
      border-bottom-width: 0;
    }

    .accordion_title_icon {
      position: absolute;
      right: 15px;
      top: 50%;
      transform-origin: 50% 50%;
      transform: translateY(-50%);
      transition: all 0.2s;

      svg {
        top: 1px;
        color: #333;
      }
    }

    &.active {
      color: $primary;
      border-color: #f8f8fa;

      .accordion_title_icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .accordion_content {
    display: none;
    padding: 20px 15px 10px;
    border: 1px solid #f8f8fa;

    &:last-child {
      border-top: none;
    }
  }
}

// filter
.filter_range_wrap {
  display: flex;
  align-items: flex-end;

  .filter_range_item {
    position: relative;
    width: calc(50% - 14px);
    margin-bottom: 0;
    font-size: 11px;

    input {
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      font-family: "Roboto", sans-serif;
      color: #222;
      background-color: #fafafa;
      padding: 6px 10px;
      border-bottom: 1px solid #ccc;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus,
      &:hover {
        border-color: $primary;
      }

      &:focus {
        background-color: #e7e7e7;
      }
    }

    .filter_range_currency_symbol {
      display: block;
      position: absolute;
      bottom: 1px;
      right: 1px;
      height: 26px;
      line-height: 26px;
      font-size: 14px;
      padding: 0 10px;
      background-color: #fff;
      border-radius: 2px;
    }
  }

  .filter_range_divider {
    display: block;
    width: 28px;
    text-align: center;
  }
}

.filter-panel-active-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;

  .filter-active {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 2px 35px 2px 14px;
    border-radius: 2px;
    line-height: 30px;
    border: 1px solid #eaeaf0;
    max-width: 245px;
  }

  .filter-active-remove {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 35px;
    padding: 0 12px;
    margin: 0;
    line-height: 1;
    border: 0 none;
    font-weight: 600;
    color: #4a545b;
    font-size: 16px;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
      color: $primary;
    }
  }

  .filter-reset-all {
    display: block;
    margin: 0;
  }
}

.filter-panel-btn {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border: 1px solid #e8490f;
  padding: 6px;

  .filter-panel-btn-icon {
    height: 20px;
  }
}

.filter-panel-contenet-header {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .filter-panel-close {
    cursor: pointer;
  }
}


// product page

.product_slider_main {
  --swiper-navigation-color: #e8490f;
  margin-bottom: 20px;

  .swiper-pagination {
    position: static;
    margin: 10px;

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      background-color: #bcc1c7;

      &.swiper-pagination-bullet-active {
        background-color: #798490;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 65px;

    &::after {
      font-size: 22px;
    }
  }

  .swiper-slide {
    padding: 0 45px;
    height: 430px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.product_slider_thumbs {
  .swiper-slide {
    border: 1px solid #eaeaf0;
    border-radius: 2px;
    padding: 0.25rem;
    height: 40px;

    &.swiper-slide-thumb-active {
      border-color: $primary;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.product-detail-price {
  font-size: 1.75rem;
  color: #566573;
  font-weight: 600;
  vertical-align: middle;
}

.product-detail-tax {
  font-size: 1rem;

  .product-detail-tax-link {
    font-size: 12px;
    font-size: .75rem;
  }
}

.product-delivery-information {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.delivery-status-indicator {
  flex-shrink: 0;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  height: 10px;
  line-height: 10px;
  margin-right: 5px;
  position: relative;
  width: 10px;
}

.product-detail-quantity-select {
  height: 100%;
}


// tabs
.tabs_nav {
  display: flex;
  align-items: center;
  gap: 10px;

  .tabs_nav_item {
    border-bottom: 2px solid #eaeaf0;
    padding-bottom: 5px;
    padding: 0.5rem 0;
    cursor: pointer;

    &.active {
      border-color: $primary;
    }
  }

  .tabs_nav_item_icon {
    display: none;
  }
}

.tabs_content {
  padding-top: 20px;
}

.tab_item {
  display: none;

  &.active {
    display: block;
  }
}

// popup

.modal {

  .modal-dialog {
    max-width: 800px;
  }
  .modal-header {
    padding: 10px;
    border-bottom: 1px solid #eaeaf0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &.only-close {
      border-bottom-color: transparent;
    }
  }

  .modal-body {
    padding: 0 40px 40px;
  }
  .modal-close:focus {
    outline: none;
  }
}

.popup-content {
  position: relative;
  margin: auto;
  max-width: 800px;
  background-color: #fff;
  padding: 60px 40px 40px;

  .popup-close {
    color: currentColor;
  }
}

.mfp-fade.mfp-bg {
  opacity: 0;

  transition: all 0.2s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  transition: all 0.2s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

// Mini Cart
.mini_cart_wrap {

  .mini_cart_content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 400px;
    overflow: auto;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform .45s cubic-bezier(.3, 0, .15, 1);

    .mini_cart-close {
      width: 100%;
      border-radius: 0;
      font-weight: 400;
      padding: 0.5rem 1rem;
      text-align: left;
      position: sticky;
      top: 0;
      color: #798490;
      border-bottom: 1px solid rgb(0 0 0 / 7%);
      box-shadow: 0 0 15px rgb(0 0 0 / 10%);
      z-index: 10;

      .icon {
        color: #798490;

        svg {
          top: 8px;
        }
      }
    }

    .mini_cart_body {
      padding: 20px;
    }
  }

  &.is-open {

    .mini_cart_content {
      transform: translateX(0);
    }

    .mini_cart_overlay {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 98;
      background-color: rgb(0 0 0 / 50%);
    }

  }
}

.mini_cart_header {
  align-items: flex-end;
  margin-bottom: 20px;

  .cart_header_title {
    margin-bottom: 0;
  }

  .cart_header_count {
    color: #798490;
    font-weight: 600;
  }
}

.cart_item {
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaf0;

  &+.cart_item {
    margin-top: 20px;
  }

  .cart-item-img {
    width: 75px;
    height: 75px;
    padding: 0.25rem;
    border: 1px solid #eaeaf0;
    border-radius: 2px;
  }

  .cart-item-row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;

    &>[class*='col-'] {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }
  }

  .cart-item-label {
    color: #333;
    font-weight: 600;

    &:hover {
      color: #e8490f;
      text-decoration: none;
    }
  }

  .cart-item-details-container {
    padding-left: 1rem;
  }


  .cart-item-characteristics {
    margin: 0.5rem 0;
    font-size: .875rem;
  }

  .cart-quantity-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
  }

  .cart-item-price {
    font-weight: 600;
    margin-left: 1rem;
    text-align: right;
  }

  .cart-item-quantity-container {
    width: 70px;
    margin-left: auto;
  }

  .cart-item-remove {
    position: absolute;
    right: 10px;
  }

  .cart-item-remove-button {
    display: inline-block;
  }
}

.cart_summary {
  margin: 15px 0 8px;

  .cart_summary_list {
    font-weight: 700;

    .row {

      &+.row {
        margin-top: 0.5rem;
      }
    }
  }

  .cart_summary_label {
    .js-toggle-shipping-selection {
      font-size: 90%;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .cart_summary_value {
    text-align: right;
  }

  .shipping-preference {
    display: none;
    margin: 5px -20px 0 -20px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    background-color: rgba(0, 0, 0, .05);
  }
}

.cart-tax {
  color: #798490;
}

.cart-actions {

  .js-cart-promotion {
    margin-bottom: 1rem;
  }
}