/*!
Theme Name: Stage Brands
Author: Future
Description: Description
Version: 1.0.0
*/

.hidden{display: none !important;}
.category-nav > li a.opened + .category-subnav {
    display: block;
}


/* taras */
.footer-logo-wrap {
    display: block;
}
.footer-logo-badge {
    margin-right: 10px;
    margin-bottom: 15px;
}
.link--metis{
	color: #333;
	text-decoration: none !important;
}
.link--metis:hover {
    color: #e8490f;
}
#page-preloader{
	background: rgb(48 48 48 / 45%) !important;
}
b, strong {
    font-weight: bold;
}
.product_card .product_card_detail {
    font-size: 14px;
}
.product_slider_thumbs .swiper-slide{
	height: 100px;
	cursor: pointer;
}
.icon > img {
    width: 100%;
    height: 100%;
    top: 0.25em;
    position: relative;
    fill: currentColor;
}
.properties-value a{text-decoration: none !important;    color: #333;}
.admin-bar .header-main.fix .nav-main {
    top: 32px;
}
.cms-element-text.page-box{padding: 0px;}
.opacity08{opacity: 0.8}
.cms-element-text ol, .cms-element-text ul, .cms-element-text dl {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 40px;
}
.cms-element-text li {
        list-style: disc;
}
.cms-element-text ol li {
        list-style: decimal;
}
.cms-element-text ul::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.entry-title{text-align: center;}
.entry-footer{padding: 20px 0px;}
.post-edit-link{
	outline: none;
    font-weight: 400;
    color: #fff;
    background-color: #e8490f;
    border-color: #e8490f;
    text-align: center;
    vertical-align: middle;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 2px 12px;
    font-size: 1rem;
    line-height: 34px;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.post-edit-link:hover{
	text-decoration: none;  color: #fff;
    background-color: #c43e0d;
    border-color: #b83a0c;
}
.checkout-aside-action {
    margin-top: 1rem;
}
.checkout-aside .checkout-aside-summary-label:not(.checkout-aside-summary-total), .checkout-aside-summary-value {
    font-size: .875rem;    margin-bottom: 10px;
}

.coupon button{
	background: #566573 url(./images/check.svg) no-repeat;
	    padding: 2px 23px;
    background-position: center;
    background-size: 22px;
}

.checkout-aside .checkout-aside-summary-label.checkout-aside-summary-total, .checkout-aside .checkout-aside-summary-value.checkout-aside-summary-total {
    font-size: 1rem;font-weight: 600;
}
.checkout-aside-summary-total {
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 13px;
    border-top: 1px solid #eaeaf0;
    margin-top: 5px;
}
.cart_totals h2 {
    margin-bottom: 20px;
}
.checkout-aside-summary-label {
    font-weight: 400;
}
.checkout-aside-summary-value {
    text-align: right;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.cms-element-text dl.checkout-aside-summary-list{padding: 0px; margin: 0px;}
.btn{cursor: pointer}
.btn-primary:hover, .address-editor-select:not(.collapsed):hover, .address-editor-edit:not(.collapsed):hover, .address-editor-create:not(.collapsed):hover {
    color: #fff;
    background-color: #c43e0d;
    border-color: #b83a0c;
}
h1, .h1 {
    font-size: 2.25rem;
}
h2, .h2 {
    font-size: 1.75rem;
}
.alert {
    border-radius: 2px;
    font-size: 15px;
}
.alert-info {
    background-color: #4aa3df;
}
.alert-has-icon {
    -ms-flex-align: normal;
    align-items: normal;
}
.alert {
    padding: 0;
    border: 0;
}
.alert-has-icon {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.alert-info {
	    margin: 0px 15px;
	    width: 100%;
    color: #265574;
    background-color: #dbedf9;
    border-color: #cce5f6;
}
.alert {
    position: relative;

    margin-bottom: 1rem;
    border-radius: 2px;
}
.alert-info .icon {
    color: #fff;
}
.alert .icon {
    margin: 0.5rem;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.icon-info {
    color: #4aa3df;
}
.icon {
    width: 22px;
    height: 22px;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: inherit;
    overflow: visible;
    color: #878787;
}
.alert .icon svg {
    top: 0;
}
.alert-info {
    background-color: #4aa3df;
}

.alert .alert-content-container {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.alert-info .alert-content-container {
    background-color: #dbedf9;
    color: #4aa3df;
}
.alert-has-icon .alert-content-container {
    padding-left: 1rem;
}
.alert-content-container {
    padding: 0.5rem;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.icon > svg {
    width: 100%;
    height: 100%;
    top: 0.25em;
    position: relative;
    fill: currentColor;
}
.icon svg {
    overflow: hidden;
    vertical-align: middle;
}
 .logo {
    padding-right: 10px;
}
.product_price_wrapper .list-price-badge{display: none;}
.product-detail-price .list-price-badge {
    display: inline-block;
    background: #e74c3c;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 6px;
}
.product_price.with-list-price {
    color: #e74c3c;
}
.product-detail-price .list-price-price{
    text-decoration: line-through;
}
.product-detail-price .list-price{
    color: #e8490f;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    height: 26px;
    vertical-align: bottom;
}
.product-box h1{margin-bottom: 30px;}
.cart-header-row > .col, .is-act-confirmpage .checkout .cart-header-row > .checkout-aside, .is-ctl-accountorder .checkout .cart-header-row > .checkout-aside, .is-act-finishpage .checkout .cart-header-row > .checkout-aside, .cart-item-row > .col, .is-act-confirmpage .checkout .cart-item-row > .checkout-aside, .is-ctl-accountorder .checkout .cart-item-row > .checkout-aside, .is-act-finishpage .checkout .cart-item-row > .checkout-aside, .cart-header-row > [class*='col-'], .cart-item-row > [class*='col-'] {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.cart-item-label {
    color: #333;
    font-weight: 600;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.checkout-aside .checkout-aside-summary {
    margin-top: 20px;
    border-radius: 2px;
}
.checkout-aside-summary, .checkout-aside-products {
    padding: 1rem;
}
.checkout-aside-summary {
    background-color: #f9f9f9;
}

.checkout-aside-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.custom-select:hover {
    color: #e8490f;
    border-color: #e8490f;
}
.remove path {
        fill: #212529;
}
.remove {
    padding: 7px 12px;
}
.remove svg{
    width: 20px;
    height: 20px;
}
.cart-item-details .cart-item-ordernumber {
    font-size: 12px;
    font-size: .75rem;
}
.cart-item-quantity-label, .cart-item-unit-price-label, .cart-item-total-price-label, .cart-item-tax-price-label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #4a545b;
}
.checkout .entry-title {
    text-align: left;
    margin-bottom: 1.5rem;
}

.checkout-main, .checkout-aside {
	position: relative;
    width: 100%;
	padding-right: 20px;
    padding-left: 20px;
}
.cart-item {
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaf0;
}
.cart-item-img-container {
    text-align: center;
    width: 70px;
}

.cart-item-img-container img{height: auto;}

.card-title {
    border-bottom: 1px solid #eaeaf0;
    padding-bottom: 10px;
    color: #e8490f;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
}

.cart-header-row, .cart-item-row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
}
.cart-table-header {
    display: none;
}

.cart-item-remove {
    -ms-flex-order: 2;
    order: 2;
    text-align: right;
}
.cart-item-quantity {
    -ms-flex-order: 3;
    order: 3;
}
.cart-item-unit-price, .cart-item-tax-price {
    -ms-flex-order: 4;
    order: 4;
}
.cart-item-total-price {
    -ms-flex-order: 5;
    order: 5;
}
.header-minimal .header-minimal-row .header-minimal-logo, .header-minimal .header-minimal-row .header-minimal-contact, .header-minimal .header-minimal-row .header-minimal-home {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.header-minimal .header-minimal-row {
    height: 90px;
    padding: 5px 0;
}
.header-minimal-row {
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.header-minimal {
    height: 90px;
    color: #fff;
    background-color: #21262c;
}
.checkout-aside-item .checkout-aside-item-title {
    font-weight: 600;
    margin-bottom: 0.25rem;
}
.checkout-aside .checkout-aside-item-data {
    font-size: .875rem;
}
.header-minimal .header-minimal-row a.header-minimal-home-btn, .header-minimal .header-minimal-row a.header-minimal-back-to-shop-button {
    text-decoration: none;
    color: #fff;
    border: 1px solid #15191e;
    background-color: #15191e;
}
.header-minimal .header-minimal-row .header-minimal-logo img {
    width: 140px;
    max-width: none;
    height: auto;
}
strong.product-quantity{
    color: #e7490f;
    font-size: 15px;
}

.woocommerce-billing-fields{
	margin-bottom: 1rem;
}
.mrg0{margin: 0px 0px 20px;}
.select2-results__option {
    font-size: 14px;
}
.checkout-aside-item-image img{height: auto;}
.alert-danger {
	background-color: #e74c3c;
}

.alert-danger .alert-content-container {
	background-color: #fadbd8;
	color: #e74c3c;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #e7490f;
    color: #fff;
}
.select2-container .select2-selection--single {
    height: 42px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
    position: absolute;
    top: 1px;
    right: 5px;
    width: 20px;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 0px;
}

.woocommerce-input-wrapper input, .select2-selection__rendered {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.125rem + 2px);
    padding: 0.5625rem 0.5625rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-color: #fafafa;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 40px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    font-family: "Roboto", sans-serif;
}
p.form-row{display: block;flex-wrap: inherit; margin: 0px;}
.form-group, p.form-row {
    margin-bottom: 10px;
}
.select2-selection{
	    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    font-family: "Roboto", sans-serif;
}
.form-row label {
    margin-bottom: 1px;
    color: #666;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 2px;
}
.card-body {
    padding: 0;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.checkout .checkout-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}
.footer-minimal {
    font-size: 14px;
    font-size: .875rem;
    padding: 20px;
    text-align: center;
    color: #d8d8d8;
    background-color: #333;
}

.footer-minimal .footer_copyright {
    color: #d8d8d8;
}



@media (min-width: 576px){
.nav-main .main-navigation-link .icon {
    display: inline-block;
    color: #fff;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    margin-top: -6px;
}
.nav-drop:hover .icon{
	color: #e8490f !important
}
.sort_box {
    margin-top: 20px;
}
.checkout{
    padding: 15px;
}
.header-logo-picture {
    display: block;
    max-width: 300px;
    margin: auto;
}
.cart-item-unit-price, .cart-item-total-price, .cart-item-tax-price {
    -ms-flex-pack: normal;
    justify-content: normal;
    display: block;
}
.cart-item-quantity, .cart-item-unit-price, .cart-item-total-price, .cart-item-tax-price {
    text-align: right;
}
}
@media (min-width: 768px){
	.cart-table-header {
    display: block;
}
.cart-item-info, .cart-item-quantity, .cart-item-unit-price, .cart-item-total-price, .cart-item-tax-price, .cart-item-remove {
    -ms-flex-order: 0;
    order: 0;
}
.checkout{
    padding: 20px;
}
.cart-item-quantity, .cart-item-unit-price, .cart-item-total-price, .cart-item-tax-price {
    text-align: left;
}
.header-minimal-contact {
    display: block;
}
.header-minimal-back-to-shop {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

}

@media (min-width: 1200px){
.checkout{
    padding: 50px;
}
}
@media only screen and (max-width: 1700px){
	.container{
		max-width: 1400px;
	}
}
@media only screen and (max-width: 991px){
.nav-main .main-navigation > .container {
    display: block;
}
.btn .icon > svg{top: 0px;}
.tabs_content .pad{padding: 0px 15px;}

}
